.accordion {
  padding-top: 6rem;
  @include loading-title();

  &__wrapper {
    overflow: hidden;
  }

  &__summary {
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    position: relative;
    background: var(--yellow-light);
    color: var(--grey-dark);
    border: none;
    cursor: pointer;
    list-style: none;
    padding-right: 1rem 9rem 1rem 3rem;
    @extend h3;
    @include pseudo-before();

    &:before {
      @include chevron(2rem, 0.5rem, var(--grey-dark));
      @include central-y();
      right: 3rem;
      margin-top: -0.5rem;
      transform: translateY(-50%) rotate(45deg);

      .accordion__wrapper--open & {
        margin-top: 0.5rem;
        transform: translateY(-50%) rotate(225deg);
      }
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      outline: 0;
      border: 0;
    }

    &:hover,
    &:focus {
      background: var(--yellow);
    }

    &:active {
      background: var(--yellow-dark);
    }
  }

  &__content {
    padding: 0 3rem;
    max-height: 0;
    transition: max-height 0.35s ease;
    will-change: max-height;
    @include hwa();

    .accordion__wrapper--open & {
      max-height: calc(var(--max-height) * 0.1rem);
      transition-duration: 0.5s;
    }

    table {
      margin: 2rem 0 2rem -3rem;
      width: calc(100% + 6rem);
    }
  }
}
