.accordion {
  padding-top: 6rem;
  @include loading-title();

  &__title {
    margin-bottom: 3rem;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__summary {
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    background: var(--yellow-light);
    color: var(--grey-dark);
    border: none;
    cursor: pointer;
    list-style: none;
    padding: 1rem 9rem 1rem 3rem;
    @extend h3;
    @include pseudo-blocks();

    &:before {
      --size: 0;
      content: '';
      position: absolute;
      left: calc(var(--x) * 0.1rem);
      top: calc(var(--y) * 0.1rem);
      width: var(--size);
      height: var(--size);
      will-change: width, height, top, left;
      background: radial-gradient(circle closest-side, var(--yellow) 60%, var(--yellow-light));
      transform: translate(-50%, -50%);
      transition: width 0.2s ease, height 0.2s ease;
      pointer-events: none;
    }

    @media screen and (pointer: fine) and (hover: hover) {
      &:hover:before {
        --size: 50rem;

        @media screen and (min-width: $landscape) {
          --size: 100rem;
        }
      }
    }

    &:after {
      @include chevron(2rem, 0.5rem, var(--grey-dark));
      @include central-y();
      right: 3rem;
      margin-top: -0.5rem;
      transform: translateY(-50%) rotate(45deg);

      .accordion__wrapper--open & {
        margin-top: 0.5rem;
        transform: translateY(-50%) rotate(225deg);
      }
    }

    span {
      position: relative;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      outline: 0;
      border: 0;
    }

    &:focus,
    &:active {
      background: var(--yellow);

      &:before {
        background: radial-gradient(circle closest-side, var(--yellow-light) 60%, var(--yellow));
      }
    }
  }

  &__content {
    padding: 0 3rem;
    max-height: 0;
    transition: max-height 0.35s ease;
    will-change: max-height;
    @include hwa();

    .accordion__wrapper--open & {
      max-height: calc(var(--max-height) * 0.1rem);
      transition-duration: 0.5s;
    }

    table {
      margin: 2rem 0 2rem -3rem;
      width: calc(100% + 6rem);
    }
  }
}
