<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>Punk API</title>
    <link rel="stylesheet" href="./../styles/index.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="inner">
          <h1>Punk API</h1>
          <small>Vector from <a href="https://www.vecteezy.com/free-vector/beer">Vecteezy</a></small>
        </div>
      </header>
      <main>

      </main>
      <footer>

      </footer>
    </div>
    <script src="./../scripts/index.js"></script>
  </body>
</html>
