<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>Punk API</title>
    <link rel="stylesheet" href="./../styles/index.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="inner">
          <h1>Punk API</h1>
          <small>Vector from <a href="https://www.vecteezy.com/free-vector/beer" class="text-link">Vecteezy</a></small>
        </div>
      </header>
      <main>
        <article class="hero">
          <ul class="slider slider--image" data-slider-image>
            <li>
              <img sizes="100vw" srcset="./images/slider/sign-a-2000.jpg 2000w, ./images/slider/sign-a-1500.jpg 1500w, ./images/slider/sign-a-1000.jpg 1000w, ./images/slider/sign-a-500.jpg 500w" data-src="./images/slider/sign-a-2000.jpg" alt="Slider image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-lazy>
            </li>
            <li>
              <img sizes="100vw" srcset="./images/slider/sign-b-2000.jpg 2000w, ./images/slider/sign-b-1500.jpg 1500w, ./images/slider/sign-b-1000.jpg 1000w, ./images/slider/sign-b-500.jpg 500w" data-src="./images/slider/sign-b-2000.jpg" alt="Slider image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-lazy>
            </li>
            <li>
              <img sizes="100vw" srcset="./images/slider/sign-c-2000.jpg 2000w, ./images/slider/sign-c-1500.jpg 1500w, ./images/slider/sign-c-1000.jpg 1000w, ./images/slider/sign-c-500.jpg 500w" data-src="./images/slider/sign-c-2000.jpg" alt="Slider image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-lazy>
            </li>
          </ul>
        </article>
        <article class="accordion">
          <div class="inner">
            <h2 class="accordion__title accordion__title--loading" data-accordion-title>Spotlight</h2>
            <div class="accordion__wrapper" data-accordion-wrapper>
              <p>Fetching the spotlight beers, give us a sec...</p>
            </div>
          </div>
        </article>
        <article class="tiles">
          <div class="inner">
            <h2 class="tiles__title tiles__title--loading" data-tiles-title>Featured</h2>
            <div class="tiles__wrapper" data-tiles-wrapper>
              <div class="tiles__tile" style="--colour: #ffd141">
                <h3>Beer title 1</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #fdbb41">
                <h3>Beer title 2</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #f78f2e">
                <h3>Beer title 3</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #4dcaff">
                <h3>Beer title 4</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #3e90b3">
                <h3>Beer title 5</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #0927b3">
                <h3>Beer title 6</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #ffd141">
                <h3>Beer title 7</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #fdbb41">
                <h3>Beer title 8</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #f78f2e">
                <h3>Beer title 9</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #4dcaff">
                <h3>Beer title 10</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #3e90b3">
                <h3>Beer title 11</h3>
                <p>4.5%</p>
              </div>
              <div class="tiles__tile" style="--colour: #0927b3">
                <h3>Beer title 12</h3>
                <p>4.5%</p>
              </div>
            </div>
          </div>
        </article>
      </main>
      <footer>

      </footer>
    </div>
    <script src="./../scripts/index.js"></script>
  </body>
</html>
