<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>Punk API | Billy Watson</title>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="./../styles/index.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="inner">
          <h1>Punk API</h1>
          <small>Vectors from <a href="https://www.vecteezy.com/free-vector/beer" class="text-link">Vecteezy</a></small>
        </div>
      </header>
      <main>
        <article class="hero">
          <ul class="slider slider--image" data-slider-image>
            <li>
              <img sizes="100vw" srcset="./images/slider/sign-a-2000.jpg 2000w, ./images/slider/sign-a-1500.jpg 1500w, ./images/slider/sign-a-1000.jpg 1000w, ./images/slider/sign-a-500.jpg 500w" data-src="./images/slider/sign-a-2000.jpg" alt="Slider image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-lazy>
            </li>
            <li>
              <img sizes="100vw" srcset="./images/slider/sign-b-2000.jpg 2000w, ./images/slider/sign-b-1500.jpg 1500w, ./images/slider/sign-b-1000.jpg 1000w, ./images/slider/sign-b-500.jpg 500w" data-src="./images/slider/sign-b-2000.jpg" alt="Slider image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-lazy>
            </li>
            <li>
              <img sizes="100vw" srcset="./images/slider/sign-c-2000.jpg 2000w, ./images/slider/sign-c-1500.jpg 1500w, ./images/slider/sign-c-1000.jpg 1000w, ./images/slider/sign-c-500.jpg 500w" data-src="./images/slider/sign-c-2000.jpg" alt="Slider image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazy" data-lazy>
            </li>
          </ul>
        </article>
        <article class="accordion">
          <div class="inner">
            <h2 class="accordion__title accordion__title--loading" data-accordion-title>Beer accordion</h2>
            <section class="accordion__wrapper" data-accordion-wrapper>
              <p>Fetching the accordion beers, give us a sec...</p>
            </section>
          </div>
        </article>
        <article class="tiles">
          <div class="inner">
            <div class="tiles__header">
              <h2 class="tiles__title tiles__title--loading" data-tiles-title>Beer grid</h2>
              <form data-tiles-form>
                <fieldset>
                  <legend>Grid interaction</legend>
                  <label for="sort">Sort</label>
                  <select id="sort">
                    <option disabled selected>Sort beers...</option>
                    <option value="ascending">Strength low to high</option>
                    <option value="descending">Strength high to low</option>
                  </select>
                  <button type="submit">Submit</button>
                </fieldset>
              </form>
            </div>
            <section class="tiles__wrapper" data-tiles-wrapper>
              <p>Fetching the grid beers, give us a sec...</p>
            </section>
          </div>
        </article>
      </main>
      <footer>

      </footer>
    </div>
    <script src="./../scripts/index.js"></script>
  </body>
</html>
