html,
body {
  height: 100%;
}

body {
  background: var(--grey-dark);
  color: var(--grey-light);
}

header,
main,
footer {
  position: relative;
  @extend .outer;
}

.wrapper {
  overflow: hidden;
}

.outer,
.inner {
  margin: 0 auto;
}

.outer {
  max-width: 160rem;
  min-width: 32rem;
}

.inner {
  padding: 1.5rem #{$gutter-mobile};

  @media screen and (min-width: $portrait) {
    padding: 2rem #{$gutter-portrait};
  }

  @media screen and (min-width: $landscape) {
    padding: 3rem #{$gutter-landscape};
  }
}
