@mixin hwa() {
  // 3D rendering on GPU
  transform: translateZ(0);

  // fix chrome and safari flicker
  backface-visibility: hidden;
  perspective: 1000;

  // webkit-powered
  transform: translate3d(0, 0, 0);
}

@mixin central() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin central-y() {
  top: 50%;
  transform: translateY(-50%);
}

@mixin central-x() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin pseudo-content() {
  content: '';
  display: block;
  position: absolute;
}

@mixin pseudo-before() {
  &:before {
    @include pseudo-content();
  }
}

@mixin pseudo-after() {
  &:after {
    @include pseudo-content();
  }
}

@mixin pseudo-blocks() {
  &:before,
  &:after {
    @include pseudo-content();
  }
}

@mixin flex-col() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin w-c-o() {
  will-change: opacity;
}

@mixin w-c-t() {
  will-change: transform;
}

@mixin w-c-o-t() {
  will-change: opacity, transform;
}

@mixin visually-hidden() {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0.1rem; width: 0.1rem;
  margin: -0.1rem; padding: 0; border: 0;
}

@mixin chevron($size: 1rem, $thickness: 0.4rem, $colour: black) {
  display: inline-block;
  border-right: #{$thickness} solid #{$colour};
  border-bottom: #{$thickness} solid #{$colour};
  width: $size;
  height: $size;
}

@mixin loading-title() {
  &__title {
    margin-bottom: 3rem;
    color: var(--white);
    display: inline-block;
    position: relative;
    padding-right: 4rem;
    @include pseudo-after();

    &:after {
      @include central-y();
      right: 0;
      width: 2rem;
      height: 2rem;
      background: url('./../images/icons/loading.svg') 0 0 no-repeat;
      background-size: auto 100%;
      animation: spin-y 1.2s linear infinite;
      opacity: 0.001;
      transition: opacity 0.3s ease;
      @include w-c-o();
    }

    &--loading:after {
      opacity: 0.999;
    }
  }
}

@mixin full-page-mobile() {
  width: calc(100% + calc(#{$gutter-mobile} * 2));
}

@mixin full-page-portrait() {
  width: calc(100% + calc(#{$gutter-portrait} * 2));
}

@mixin full-page-landscape() {
  width: calc(100% + calc(#{$gutter-landscape} * 2));
}

@mixin full-page() {
  @include full-page-mobile();

  @media screen and (min-width: $portrait) {
    @include full-page-portrait();
  }

  @media screen and (min-width: $landscape) {
    @include full-page-landscape();
  }
}

@mixin bleed-left-mobile() {
  margin-left: -#{$gutter-mobile};
}

@mixin bleed-left-portrait() {
  margin-left: -#{$gutter-portrait};
}

@mixin bleed-left-landscape() {
  margin-left: -#{$gutter-landscape};
}

@mixin bleed-left() {
  @include bleed-left-mobile();

  @media screen and (min-width: $portrait) {
    @include bleed-left-portrait();
  }

  @media screen and (min-width: $landscape) {
    @include bleed-left-landscape();
  }
}
