table {
  border-collapse: collapse;
}

th,
td {
  padding: 1rem 3rem;
  text-align: left;
  vertical-align: top;

}

th {
  font-weight: 700;
}

tbody {
  tr:nth-of-type(odd) {
    th,
    td {
      background: var(--faint);
    }
  }
}
