html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  font-size: 5rem;
  line-height: 1;

  @media screen and (min-width: $landscape) {
    font-size: 8rem;
  }
}

h2,
.h2 {
  font-size: 4rem;
  line-height: 1.1;

  @media screen and (min-width: $landscape) {
    font-size: 5.6rem;
  }
}

h3,
.h3 {
  font-size: 2.8rem;
  line-height: 1.2;
}

p {
  max-width: 80rem;
}

.text-link {
  text-decoration: none;
  color: inherit;
  display: inline;
  position: relative;
  background-image:
    linear-gradient(var(--blue), var(--blue)),
    linear-gradient(var(--white), var(--white)),
    linear-gradient(var(--grey-dark), var(--grey-dark));
  background-size:
    0 0.2rem,
    0 0.2rem,
    100% 0.2rem;
  background-position:
    0 calc(100% - 0.75rem),
    0 calc(100% - 0.75rem),
    0 calc(100% - 0.75rem);
  background-repeat: no-repeat;
  transition: background-size 0.075s ease-out;
  will-change: background-size;
  padding: 1rem 0;

  &:hover,
  &:focus {
    background-size:
      0 0.2rem,
      100% 0.2rem,
      100% 0.2rem;
  }

  &:active {
    background-size:
      100% 0.2rem,
      100% 0.2rem,
      100% 0.2rem;
  }
}

button {
  cursor: pointer;
}
