:root {
  --white: #ffffff;
  --grey-light: #d8d8d8;
  --grey: #9b9b9b;
  --grey-dark: #121212;
  --black: #000000;
  --yellow: #ffd141;
  --blue-light: #4dcaff;
  --blue: #3e90b3;
  --blue-dark: #0927b3;
}

$min: 320px;
$portrait: 800px;
$landscape: 1100px;
$desktop: 1400px;
$max: 1600px;
